<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

    <title>Pablo Ortiz Designer Website</title>
</head>
<body>
    <h1 class="hidden">Pablo Ortiz Designer Website - Home Page</h1>

    <header>
        <div class="main_logo"><a href="index.html"><img src="images/logo_pablo_white_hrz.svg" alt="Pablo Ortiz Logo"></a></div>
        <nav class="main_nav">
            <div id="toggle_menu" class="toggle_menu">
                <img src="images/ham.svg" alt="hamburguer icon">
            </div>
            <ul id="main_menu" class="main_menu">
                <li><a href="index.html" class="main_menu_item">WORK</a></li>
                <li><a href="about.html" class="main_menu_item">ABOUT</a></li>
                <li><a href="#contact_section" class="main_menu_item">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero_image">
        <h2 class="hidden"> Hero Image Section</h2>
        <picture>
            <source id="main_image" srcset="images/home-main-image-m.jpg" media="(max-width: 600px)">
            <img src="images/home-main-image.jpg" alt="Work section main photo">
        </picture>
    </section>

    <div class="main_title"><h2>From the pencil to computer;<br>loving when design<br>turning the simple in better</h2></div>

    <section id="container">
        <nav class="portfolio_gallery">
            <ul class="thumbnail">
                <portfoliothumbnail @loadlb="loadLightBox" v-for="portfolio in portfolioData"   :portfolio="portfolio"></portfoliothumbnail>
            </ul>
        </nav>

        <lightbox @closelb="this.showLightBox = false" v-if="showLightBox" :portfolio="lightboxData"></lightbox>
    </section>

    <section class="my_skills">
        <h2>These are the strengths that make me a great option to turn ideas into images that connect</h2>
        <div class="skills_list">
            <div class="skill_thumbnail">
            <img src="images/20-years.svg" alt="20 years experience icon">
            <h3>20+ years of experience in graphic design</h3></div>
            <div class="skill_thumbnail">
            <img src="images/bulb.svg" alt="ideas bulb icon">
            <h3>Abilities to conceptualize and communicate ideas</h3></div>
            <div class="skill_thumbnail">
            <img src="images/leader.svg" alt="leadership icon">
            <h3>Leadership of design teams</h3></div>
            <div class="skill_thumbnail">
            <img src="images/branding.svg" alt="branding icon">
            <h3>Branding</h3></div>
        </div>
    </section>

    <section id="contact_section">
        <h2 class="hidden"> Contact Area</h2>
    <div class="contact_area">
        <img src="images/chat.svg" alt="Work section main photo">
        <div class="contact_text"><p>Successes are never achieved alone; Let's talk for a while and tell me how I can help you improve your ideas !</p></div>

        <form class="contact_form" action="send.php" method="POST" enctype="text/plain" id="mail-form">
            <input v-model="form.name" class="name" name="firstname" type="text" placeholder="NAME" required="required">
            <div class="errorMessage" v-if="errorName">Please fill the spaces completely</div>

            <input v-model="form.email" class="email" name="email" type="text" placeholder="EMAIL" required="required">
            <div class="errorMessage" v-if="errorEmail">Please fill the spaces completely</div>

            <textarea v-model="form.text" class="subject" name="msg" placeholder="MESSAGE" cols="30" rows="10"></textarea>
            <div class="errorMessage" v-if="errorInMessage">Please fill the spaces completely</div>

            <div class="success" v-if="successMessage">MESSAGE SENT! WELL DONE!</div>
            <input @click.prevent="processMail" class="sendButtom" name="submit" type="submit" value="SEND">
        </form>
    </div>
    </section>

    <footer>
        <section class="footer_info">
            <div>
                <h2>Pablo Ortiz</h2>
                <p>Designer<br>London - Ont. / N6H 4S2<br>ortizp@gmail.com</p>
            </div>
            <div class="social_icons">
                <a href="https://www.behance.net/_ortizp" target="_blank"><img src="images/behance_icon.svg" alt="Behance Icon"></a>
                <a href="https://www.instagram.com/pablo.ortizdesigner/" target="_blank"><img src="images/instagram_icon.svg" alt="Instagram Icon"></a>
            </div>
        </section>
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/components/TheLightBoxComponent.js"></script>
    <script src="js/components/ThePortfolioThumbnail.js"></script>

    <script src="js/main.js" type="module" defer></script>
</body>
</html>