body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Anek Malayalam', sans-serif;
    width: 1440px;
    margin: 0 auto;

    .hidden {
        display: none;}

        h2{
            font-size: 40px;
            font-family: 'Anek Malayalam', sans-serif;
            font-weight: 700;
            color: #005984;
            text-align: center;
        }

        h3{
            font-size: 30px;
            font-family: 'Anek Malayalam', sans-serif;
            font-weight: 300;
            color: #005984; 
        }
    
        p{
            font-size: 30px;
            font-family: 'Anek Malayalam', sans-serif;
            font-weight: 300;
            color: #005984;
        }
}

@media screen and (max-width: 450px) {
    
    body {
        width: 450px;
    }

}