footer{
    display: flex;
    justify-content: center;
    width: 1440px;
    background-color: #0081C6;


    .footer_info{
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 1135px;
        justify-content: space-between;

        h2 {
            color: white;
            text-align: left;
        }

        p {
            color: white;
            text-align: left;
        }
        
    }

}

.social_icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55px;
    height: 130px;
}


@media screen and (max-width: 576px) {

    footer {
        width: 576px;
    
        .footer_info {
            display: flex;
            align-items: center;
            width: 450px;
        }

        h2 {font-size: 30px;}
        p{font-size: 22px;}
    }
}