footer{
    display: flex;
    justify-content: center;
    width: 1440px;
    background-color: #0081C6;


    .footer_info{
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 1135px;
        justify-content: space-between;

        h1, p{color: white;}
        
    }

}

.social_icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55px;
    height: 130px;
}