header{
    position: absolute;
    display: flex;
    width: 1440px;
    height: 200px;
    padding: 50px;
    justify-content: space-between;

    .main_logo{
        width: 286px;
    }

    .main_menu{
        display: flex;
        margin: 25px 0 0 0;
        justify-content: space-around;
        width: 400px;
    }

    a{
        font-size: 25px;
        font-family: 'Anek Malayalam', sans-serif;
        font-weight: 500;
        color:white;
        text-decoration: none;
    }

    a:hover{ color:#00C1DE}
}

@media screen and (min-width: 500px) {.toggle_menu {display: none;}}


@media screen and (max-width: 450px) {
    
header {
    width: 450px;
    padding: 30px 40px;
    align-items: center;

    .main_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 130px;
        height: 200px;
        text-align: center;
        margin: 0 0 0 10px;
        transform: translateY(-150%);
        transition: transform 0.3s;
        background-color: #005984;
    }

    .toggle_menu {
        position: absolute;
        width: 50px;
        margin-left: 30px;
        cursor: pointer;
    }

    .main_menu--show {
        transform: translateY(0);
    }
}

.main_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

}