.portfolio_gallery{
    flex-wrap: wrap;
    margin-top: 50px;
    width: 1135px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.thumbnail{
    display: flex;
    width: 349px;
    height: 349px;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: 25px;
    transition: scale 0.2s ease;

    H2 {
        position: absolute;
        margin: 30px;
        font-size: 30px;
        color: white;
    }
}

.thumbnail:hover {scale: 105%;}

.arrow{
    width: 55px;
    position: absolute;
    margin: 25px;
}

.my_skills{
    flex-wrap: wrap;
    margin-top: 50px;
    width: 1135px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h2{
        width: 800px;
        text-align: center;
        margin-bottom: 50px;
    }

    }

    .skills_list{
        width: 1135px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .skill_thumbnail{
        width: 219px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: center;
        margin-bottom: 50px;

        img{
            width: 219px;
            align-items: center;
            margin-bottom: 15px;
        }

        h3{
            font-size: 20px;
        }
}

@media screen and (max-width: 576px) {

    .portfolio_gallery{
        width: 576px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my_skills {
        width: 576px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            width: 450px;
            font-size: 30px;
        }

        .skills_list {
            width: 576px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}