.home_header {
    display: flex;
    flex-direction: column;

    h2{
        font-size: 40px;
        font-family: 'Anek Malayalam', sans-serif;
        font-weight: 700;
        color: white;
        text-align: left;
    }

    p{
        font-size: 30px;
        font-family: 'Anek Malayalam', sans-serif;
        font-weight: 500;
        color: white;
    }
}

.home_title{
    width: 500px;
    position: absolute;
    margin: 300px 0 0 50px;
}


@media screen and (max-width: 450px) {

    .home_title {
        width: 380px;
        margin-top: 380px;
        margin-left: 25px;

        h2 {font-size: 30px; text-align: center;}
        p{font-size: 22px; text-align: center;}
    }


}