.portfolio_gallery{
    flex-wrap: wrap;
    margin-top: 50px;
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.thumbnail{
    display: flex;
    width: 240px;
    height: 260px;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: 25px;
    transition: scale 0.2s ease;
    background-color: gray;
    border-radius: 20px;

    H2 {
        position: absolute;
        margin: 30px;
        font-size: 25px;
        color: white;
    }
}

.thumbnail:hover {scale: 105%;}

.arrow{
    width: 55px;
    position: absolute;
    margin: 25px;
}

.my_skills{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 80vw;
    justify-content: space-around;

    h2{
        width: 79vw;
        text-align: center;
        margin-bottom: 30px;
    }

    }

    .skills_list{
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .skill_thumbnail{
        width: 219px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: center;
        margin-bottom: 40px;

        img{
            width: 219px;
            align-items: center;
            margin-bottom: 15px;
        }

        h3{
            font-size: 20px;
        }
}

@media screen and (max-width: 360px) {

    .portfolio_gallery{
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my_skills {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            width: 80vw;
        }

        .skills_list {
            width: 360px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}