.project_header{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 2450px;
    background-color: #0081C6;
    margin-bottom: 50px;
    align-items: center;

    h2{
        font-size: 40px;
        font-family: 'Anek Malayalam', sans-serif;
        font-weight: 700;
        color: white;
        text-align: center;
    }

    p{
        font-size: 30px;
        font-family: 'Anek Malayalam', sans-serif;
        font-weight: 500;
        color: white;
        text-align: center;
    }
}

.project_title{
    width: 800px;
    position: absolute;
    margin: 200px 0 0 0;
}

.project_gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    position: absolute;
    margin-top: 400px;
}

.gallery_image{
    width: 1140px;
    height: 650px;
    background-color: aquamarine;
    margin-bottom: 20px;
}

@media screen and (max-width: 360px) {

    .project_gallery{
        width: 360px;
    }

    .project_header{
        width: 360px;
        height: 1670px;
    }

    .project_title {
        width: 360px;
        margin-top: 170px;

        h2 {font-size: 30px;}
        p{font-size: 22px;}
    }

    .gallery_image{
        width: 360px;
        height: 400px;
    }

}