.gallery_background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-bottom: 30px;
}

.project_header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #0081C6;
    margin-bottom: 50px;
    align-items: center;

}

.project_title{
    width: 70vw;
    margin: 20px 0 0 0;

    h2{
        font-family: 'Anek Malayalam', sans-serif;
        font-weight: 700;
        text-align: center;
    }

    p{
        font-family: 'Anek Malayalam', sans-serif;
        font-weight: 500;
        text-align: center;
    }
}

.project_gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85vw;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.gallery_image{
    width: 40vw;
    margin-bottom: 20px;

    img{width: 100%;}
}

@media screen and (max-width: 600px) {

    .project_gallery{
        width: 95vw;
    }

    .project_header{
        width: 100vw;
    }

    .project_title {
        width: 80vw;
    }

    .gallery_image{
        width: 100vw;
        margin-bottom: 10px;
    }

}